{% extends "carshare/base.html" %}

{% block head-includes %}
<link rel="stylesheet" type="text/css" href="/static/css/home.css">
<script type="text/javascript" src="/static/js/home.js"></script>
{% endblock %}

{% block content %}
    <div id="so-kar-title">Sokar</div>


    <div class="bs-example col-md-5 col-md-offset-1">
        <ul id="home-tabs" class="nav nav-tabs" style="margin-bottom: 15px;">
            <li class="active"><a href="#home-tab-1" data-toggle="tab" style="color:black">Making an Account?</a></li>
            <li class=""><a href="#home-tab-2" data-toggle="tab" style="color:black">Contact 24/7 Live Support</a></li>
            <li class=""><a href="#home-tab-3" data-toggle="tab" style="color:black">Report a Bug</a></li>
        </ul>
        <div id="home-tabbed-content" class="tab-content" style="height: 180px; position: relative; background-color: rgba(0, 0, 0, 0.6); padding: 20px 20px 20px 20px; color: white; border-radius: 15px;">
            <div class="tab-pane fade active in" id="home-tab-1">
                <p>If you are having problems making an account please clear your internet history and cache, The please click login with facebook. If you do not have facebook please email tech support: techsupport@boselecta.com</p>
                 {% if request.user.is_authenticated %}
                <button class="btn btn-danger" onclick="location.href='/driver';">Earn Money!</button>
                {% else %}
                <button class="btn btn-danger" onclick="location.href='#';">Earn Money!</button>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="home-tab-2">
                <p>Live Support: </p>
                <button class="btn btn-danger bottom" onclick="location.href='/home';">Find a ride!</button>
            </div>
            <div class="tab-pane fade" id="home-tab-3">
                <p>Once you have found your favourite events your can join as many events as you want - you will be able to keep track of all you paste events as well as your upcoming events!</p>
                <button class="btn btn-danger" onclick="location.href='/home';">Join</button>
            </div>
        </div>
    </div>
   


{% endblock %}